

.bg-fork {
    background: url("./images/fork.png?__sprite");
}
.bg-github {
    background: url("./images/github.png?__sprite");
}
.bg-twitter {
    background: url("./images/twitter.png?__sprite");
}
